<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xác nhận tham gia sự kiện</title>
</head>
<body>
<div class="main-container">
    <div class="container">
        <div class="content">
            Bạn đã đăng kí tham gia sự kiện {{event_name}} thành công!
        </div>
        <div class="footer">
            <p>Mọi thông tin chi tiết vui lòng liên hệ: <a mailto:info@vccorp.vn>info@vccorp.vn</a></p>
        </div>
    </div>
</div>
</body>
</html>