<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xác nhận tham gia sự kiện</title>
</head>
<body>
<div class="main-container">
    <div class="container">
        <h1>Chào, {{ user_name }}</h1>
        <div class="content">
            Bạn đã đăng kí tham gia sự kiện {{ event_name }} thành công!
        </div>
        <small>Sự kiện diễn ra vào lúc: {{ event_start_date }}, rất mong được gặp bạn</small>
        <div class="footer">
            <p>Mọi thông tin chi tiết vui lòng liên hệ: <a mailto:info@vccorp.vn>info@vccorp.vn</a></p>
        </div>
    </div>
</div>
</body>
</html>