<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chào mừng bạn đến với Django core</title>
</head>
<body>
<div class="main-container">
    <div class="container">
        <h2>Chào {{ name }}</h2>
        <div class="content">
            Bạn vừa login vào lúc {{ time }}
        </div>
        <div class="footer">
            <p>Mọi thông tin chi tiết vui lòng liên hệ: 
                <span>
                    <a href="mailto:info@vccorp.vn">info@vccorp.vn</a>
                </span>
            </p>
        </div>
    </div>
</div>
</body>
</html>