<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nhắc nhở sự kiện</title>
</head>
<body>
<div class="main-container">
    <div class="container">
        <div class="header">
            <h1>Xin chào {{ user_name }}, nhớ rằng sự kiện {{ event_name }} đang chờ đón bạn nhé</h1>
        </div>
        <div class="content">
            <div>Chúc các bạn tận hưởng trọn vẹn sự kiện!</div>
        </div>
        <div class="footer">
            <p>Mọi thông tin chi tiết vui lòng liên hệ: <a mailto:info@vccorp.vn>info@vccorp.vn</a></p>
        </div>
    </div>
</div>
</body>
</html>